# Ignore everything
*

# Except specified files and directories
!.gitignore
!README.md
!/nvim
!/nvim/**
!/tmux
!/tmux/**
!/img
!/img/**

# And ignore these additionally
/nvim/plugin
/nvim/plugin/**
/tmux/plugins
/tmux/plugins/**
nvim/plugin
