# Ignore everything since the config folder is full of stuff
*

# Except specified files and directories
!.gitignore
!README.md
!/nvim
!/nvim/**
!/tmux
!/tmux/**
!/img
!/img/**
!/lazygit
!/lazygit/**

# And ignore these additionally
/nvim/plugin
/nvim/plugin/**
/tmux/plugins
/tmux/plugins/**
/lazygit/state.yml
